<html>
 <body>
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
      {% if field != 'role' %}
        <dt>{{ form[field].label }}</dt>
        <dd>{{ form[field]() }}</dd>
          {% if form[field].errors %}
              {% for e in form[field].errors %}
              <p class="help-block">{{ e }}</p>
              {% endfor %}
        {% endif %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <select id="select-role" name="role">
      <option value= "{{'owner'}}" SELECTED>restaurant owner</option>
      <option value= "{{'customer'}}" SELECTED>customer</option>
    </select>
    <br>
    <input type=submit value="Submit">
  </form>
 </body>
</html>

