<html>
  <body>
    {% if current_user.is_authenticated %}
      <h1> Hi {{ current_user.firstname }}!</h1>
      <br>
      {# HA #}
      {% if current_user.role == 'ha' %}
        <h2><a href="/patient_informations">Get patient informations</a></h2>
        <br>

        {% if possible_infected %}
        <h2>People who have been in contact with a positive in the past 14 days: </h2>
          <ul>
            {% for pi in possible_infected: %}
            <li>
                {{pi.date.strftime('%d/%m/%Y')}}  {{pi.email}}  {{pi.phone}}  {{pi.firstname}}  {{pi.lastname}}     
            </li>
            {% endfor %}
          </ul>
        <br> 
        {% endif %}
      {% endif %}


      {# ADMIN #}
      {% if current_user.role == 'admin' %}

          <h2>Restaurants list: </h2>
          <ul>
            {% for restaurant in restaurants: %}
            <li>
            {{restaurant.name}}     
            <a href="{{base_url}}/{{restaurant.id}}">See Details!</a>
            </li>
            {% endfor %}
          </ul>
        
        <br>
      {% endif %}


      {# CUSTOMER #}
      {% if current_user.role == 'customer' %}
        <a href="/restaurants">See all restaurants!</a>
        <br>
        <br>
        <a href="/restaurants/search">Search restaurants!</a>
        <br>
        <br>
        <a href="/users/reservation_list">Reservations list</a>
        <br>
        <br>
        <a href="/delete_user">Unregister!</a>
        <br>
        <br>
      {% endif %}
      


      {# OWNER #}
      {% if current_user.role == 'owner' %}
        
        <h2><a href='/create_restaurant'>Insert a new restaurant</a></h2>
        <br>
        <a href="/restaurants/reservation_list">Reservations list</a>
        <br>
        <h2>Restaurants list: </h2>
          <ul>
            {% for restaurant in restaurants: %}
            <li>
            {{restaurant.name}}     
            <a href="{{base_url}}/edit_restaurant_informations/{{restaurant.id}}">Edit</a> 
            <a href="{{base_url}}/restaurants/delete/{{restaurant.id}}">Delete</a>
            </li>
            {% endfor %}
          </ul>
        <br>
      {% endif %}
      

      {# OWNER or CUSTOMER #}
      {% if current_user.role == 'owner' or current_user.role == 'customer' %}

        {% if notifications|length > 0 %}
          <h2>Notifications: </h2>
          {% for notification in notifications %}
          <ul>
              {% if notification.type_|string() == '1' %}
                <b>contact with positive</b>
              {% endif %}
              {% if notification.type_|string() == '2' %}
                <b>reservation canceled</b>
              {% endif %}
              {% if notification.type_|string() == '3' %}
                <b>reservation with positive</b>
              {% endif %}
                ({{notification.date.strftime('%d/%m/%Y, %H:%M')}}):  {{notification.message}}
          </ul>
          {% endfor %}
        {% endif %}

      {% endif %}



      <br>
        <a href="/logout">Logout</a>
    {% endif %}
  </body>
</html>