<head>
    <body>
        <h1>Patient Informations</h1>

        <p>
            Email: {{email}}<br>
            Firstname: {{firstname}}<br>
            Lastname: {{lastname}}<br>
            Date of birth: {{dateofbirth}}<br><br><br>

            State: {{state}}<br>
            Start date: {{startdate}}<br>
            End Date: {{enddate}}
        </p>
        <form action="" method="GET">
            <input type="submit" name="go_back_button" value="go_back">
        </form>

        {% if current_user.is_authenticated %}
            <a href="/logout">Logout</a>
        {% endif %}
    </body>
</head>