<head>
    <body>
        <h1>Patient Informations</h1>

        <p>
            Email: {{email}}<br>
            Firstname: {{firstname}}<br>
            Lastname: {{lastname}}<br>
            Dateofbirth: {{dateofbirth}}
        </p>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <dl>
                {% for field in form.display %}
                <dt>{{ form[field].label }}</dt>
                <dd>{{ form[field]() }}</dd>
                    {% if form[field].errors %}
                        {% for e in form[field].errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </dl>
            <p>
            <input type="submit" name="mark_positive_button" value="mark_positive">
        </form>
    </body>
</head>