<html>
 <body>
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit value="Submit">
  </form>

  <div id="mapdiv" style="width: 300px; height: 300px;"></div>
  <style>
    .Map {
      height: 300px;
      width: 300px;
    }
  </style>

  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());


    lon = {{ restlon }};
    lat = {{ restlat }};
    
    var markers = new OpenLayers.Layer.Markers( "Markers" );

    {% for restaurant in  restaurants: %}
        var lonLat = new OpenLayers.LonLat( {{restaurant.lon}} , {{restaurant.lat}} )
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );

        map.addLayer(markers);            
        markers.addMarker(new OpenLayers.Marker(lonLat));
    {% endfor %}
          
    var zoom=14;

    var centerlonlat = new OpenLayers.LonLat( lon , lat )
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );
    
    map.setCenter (centerlonlat, zoom);
  </script>

  
  <ul>
    {% for restaurant in restaurants: %}
    <li>
    Name: {{restaurant.name}}        Phone: {{restaurant.phone}}        Likes: {{restaurant.likes}}        Rating: {{restaurant.avg_rating}}        LAT/LON: {{restaurant.lat}}/{{restaurant.lon}}
    {% if current_user.is_authenticated %}
    <a href="{{base_url}}/{{restaurant.id}}">See Details!</a>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
 </body>
</html>